@charset "UTF-08";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;

    display: grid;
    place-content: center;
    background: linear-gradient(167.96deg, #8257E5 0%, #271A45 100%);
    padding-block: 10px;
}

#pass {
    display: flex;
    flex-direction: column;
    align-items: center;

    filter: drop-shadow(0px 4px 24px rgba(0, 0, 0, 0.25));
}

h1 {
    color: #FFFFFF;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 20px;

    margin-bottom: 20px;
}

.fligth-info,
.passenger,
.validation {
    background-color: #FFFFFF;
    padding: 24px 32px;
    border-radius: 24px;
}

.data-infos {
    color: rgba(0, 0, 0, 0.64);
    font-size: 14px;
}

#dater {
    text-align: right;
}

.infos {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.number,
.date {
    font-weight: 500;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.88);
}

.destiny {
    display: flex;
    align-items: center;
}

.airpo {
    color: rgba(0, 0, 0, 0.88);
    font-weight: 500;
    font-size: 40px;
}

#airpor {
    text-align: right;
}

.airport,
.arrival {
    color: rgba(0, 0, 0, 0.8);
    font-size: 16px;
}

.airport {
    padding-right: 16.5px;
}

.spa {
    display: flex;
    justify-content: flex-end;
}

.spa span {
    font-weight: 500;
    font-size: 10px;
}

.passenger {
    display: flex;
    gap: 140px;
}

.name,
.seat {
    font-weight: 500;
    font-size: 16px;
}

.validation {
    display: flex;
    flex-direction: column;
}

.validat {
    display: flex;
    gap: 65px;
}

.validation-info {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.hours p {
    color: #FFFFFF;
    background-color: #633BBC;
    width: 80%;
    padding: 4px 8px;
    border-radius: 8px;
}

.embarque,
.gate {
    font-weight: 500;
    font-size: 16px;
}

.qrcode {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.atencion {
    text-align: center;
    margin-top: 24px;
    font-weight: 16px;
    color: rgba(0, 0, 0, 0.8);
}

.atencion span {
    color: black;
    font-weight: 500;
}

#pass > p {
    color: #897FA3;
    font-weight: 400;
    font-size: 14px ;
    text-align: center;

    margin-top: 20px;
}

.dashed {
    width: 279px;
    height: 0px;
    border: 1px dashed rgba(0, 0, 0, 0.32);

    transform: translatey(26px);
}

.dashe {
    width: 279px;
    height: 0px;
    border: 1px dashed rgba(0, 0, 0, 0.32);

    transform: translatey(-25px);
}

@media (min-width: 700px) {
    /* .fligth-info {
        
    }

    .passenger {
        background-size: 51% 51%;
    }

    .validation {
        
    } */
}